*.suo
packages/
Source/Communication/bin/
Source/Communication/obj/
Source/ConsoleClient/bin/
Source/ConsoleClient/obj/
Source/WindowsService/bin/
Source/WindowsService/obj/
Source/WindowsService/Web/Content/js/lib/
Source/WindowsService/credentials.json
